@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 80%);
    --body-color: hsl(0, 0%, 7%);
    --container-color: hsl(0, 1%, 17%);
    --border-color: hsl(0, 0%, 15%);
  }
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--body-color);
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 4px;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 700;
}
ul {
  list-style: none;
}
button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
.unset {
  all: unset;
}
.nav__icon {
  font-size: 24px;
  margin-inline: auto;
}
.stroke {
  -webkit-text-fill-color: var(--border-color);
  color: var(--title-color);
  -webkit-text-stroke-width: 1px;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.card {
  transition: filter 0.3s ease;
}

.card:hover .image {
  filter: blur(4px); /* Adjust the blur amount as needed */
}

.card:hover .card {
  background-color: blue;
}

.card-container:hover .card:hover {
  filter: none; /* Remove blur from hovered card */
}

.transate {
  transform: perspective(900px) rotate(60deg) scale(0.7);
  transition: all 5s ease;
  -webkit-transform: perspective(900px) rotate(60deg) scale(0.7);
  -moz-transform: perspective(900px) rotate(60deg) scale(0.7);
  -ms-transform: perspective(900px) rotate(60deg) scale(0.7);
  -o-transform: perspective(900px) rotate(60deg) scale(0.7);
  -webkit-transition: all 5s ease;
  -moz-transition: all 5s ease;
  -ms-transition: all 5s ease;
  -o-transition: all 5s ease;
}
.transate:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
  -webkit-transform: rotate(0deg) scale(1) translateY(10px);
  -moz-transform: rotate(0deg) scale(1) translateY(10px);
  -ms-transform: rotate(0deg) scale(1) translateY(10px);
  -o-transform: rotate(0deg) scale(1) translateY(10px);
}
@media (min-width: 1024px) {
  .inset-block {
    inset-block: 0;
  }
}

.parent:hover > :not(:hover) {
  transition: all 0.6s ease-in;
  filter: blur(4px);
  -webkit-transition: all 0.6s ease-in;
  -moz-transition: all 0.6s ease-in;
  -ms-transition: all 0.6s ease-in;
  -o-transition: all 0.6s ease-in;
}

.shadow-portfolio {
  box-shadow: var(--first-color) 0px 5px 15px;
}
