@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --first-color: hsl(271, 76%, 53%);
    --title-color: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 80%);
    --body-color: hsl(0, 0%, 7%);
    --container-color: hsl(0, 1%, 17%);
    --border-color: hsl(0, 0%, 15%);
  }
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: var(--body-color);
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  width: 6px;
  border-radius: 4px;
}
/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--first-color);
  border-radius: 4px;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: 700;
}
ul {
  list-style: none;
}
button,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
.unset {
  all: unset;
}
.nav__icon {
  font-size: 24px;
  margin-inline: auto;
}
.stroke {
  -webkit-text-fill-color: var(--border-color);
  color: var(--title-color);
  -webkit-text-stroke-width: 1px;
}
@media (min-width: 1024px) {
  .inset-block {
    inset-block: 0;
  }
}
